
  <ion-title>{{ title }}</ion-title>
  <div class="horizontal-buttons">
    <ion-button class="buttons" color="primary" (click)="plusOneClick()">
      <ion-icon name="add-outline"></ion-icon>
      1
    </ion-button>
    <ion-button class="buttons" color="primary" (click)="plusTwoClick()">
      <ion-icon name="add-outline"></ion-icon>
      2
    </ion-button>
    <ion-button class="buttons" color="danger" (click)="minusOneClick()">
      <ion-icon name="remove-outline"></ion-icon>
      1
    </ion-button>
    <ion-button class="buttons" color="danger" (click)="minusTwoClick()">
      <ion-icon name="remove-outline"></ion-icon>
      2
    </ion-button>
  </div>

